@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
}

i {
  color: red;
  font-size: 1.5rem;
}

.background {
  background: radial-gradient(rgb(105, 62, 3), rgba(54, 17, 1, 0.641));
}

.mainBoard {
  height: 94vh;
  width: 98vw;
  margin-top: 3vh;
  margin-left: 4vw;
  margin-right: 4vw;
  background-color: rgba(239, 239, 239, 0.97);
}

.dice {
  width: 130px;
  height: 130px;
  background-color: transparent;
  position: absolute;
  top: 37vh;
  left: 47.5vw;
}

button {
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}

button:hover {
  font-size: 2rem;
}

button:active {
  color: rgb(250, 180, 82);
  font-size: 1.2rem;
  font-weight: bolder;
}

.rollBtn {
  top: 70vh;
  left: 46vw;
}

.holdBtn {
  top: 77vh;
  left: 47.5vw;
}

.newGameBtn {
  top: 10vh;
  left: 46vw;
}

.playerOneBoard,
.playerTwoBoard {
  height: 100%;
}

.playerName {
  margin-top: 20vh;
  font-size: 4rem;
  padding: -5px;
}

.interface {
  background-color: transparent;
}

.botbox {
  justify-content: center;
  height: 110px;
  width: 160px;
  border-color: rgb(47, 0, 0);
  background-color: rgba(255, 0, 0, 0.657);
  color: whitesmoke;
  position: absolute;
}

#botBoxOne {
  top: 70vh;
  left: 22.5vw;
}

#botBoxTwo {
  top: 70vh;
  left: 71.5vw;
}

.currentOne,
.currentTwo {
  font-size: 0.9rem;
  color: black;
  margin-top: 1vh;
  font-weight: bolder;
}

.currentPoints {
  font-size: 2rem;
  margin-top: -15px;
  color: white;
}

.totalScore {
  margin-top: 5vh;
  font-size: 6rem;
  color: rgb(164, 18, 42);
}

.dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  border-radius: 50%;
  background-color: red;
  margin-left: 10px;
}

@media (max-width: 2200px) {
  .dice {
    left: 47vw;
  }

  .newGameBtn {
    left: 46vw;
  }

  .rollBtn {
    left: 46vw;
  }

  .holdBtn {
    left: 46.5vw;
  }
}

@media (max-width: 1450px) {
  .dice {
    left: 45.5vw;
  }

  .newGameBtn {
    left: 43.5vw;
  }

  .rollBtn {
    left: 44.5vw;
  }

  .holdBtn {
    left: 45.5vw;
  }

  #botBoxOne {
    left: 20vw;
  }

  #botBoxTwo {
    left: 69vw;
  }

  .playerName {
    margin-top: 10vh;
  }

  .newGameBtn {
    top: 6vh;
  }
}

@media (max-width: 1030px) {
  .dice {
    left: 44vw;
  }

  #botBoxOne {
    left: 18vw;
  }

  #botBoxTwo {
    left: 67vw;
  }

  .rollBtn {
    left: 42vw;
  }

  .newGameBtn {
    left: 41.5vw;
  }

  .holdBtn {
    left: 44vw;
  }
}

@media (max-width: 800px) {
  .playerName {
    font-size: 2rem;
  }

  .totalScore {
    font-size: 4rem;
  }

  .dice {
    height: 100px;
    width: 100px;
    left: 44vw;
  }

  #botBoxOne {
    top: 60vh;
    left: 15vw;
  }

  #botBoxTwo {
    top: 60vh;
    left: 63vw;
  }

  .newGameBtn {
    left: 38vw;
  }

  .rollBtn {
    top: 78vh;
    left: 40vw;
  }

  .holdBtn {
    top: 85vh;
    left: 42vw;
  }

  .dot {
    height: 0.6rem;
    width: 0.6rem;
  }

  i {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {


  .playerName {
    font-size: 1rem;
  }

  .totalScore {
    font-size: 3rem;
  }


  .dice {
    height: 75px;
    width: 75px;
    left: 40vw;
  }

  button {
    font-size: 0.7rem;
  }

  button:hover {
    font-size: 1.2rem;
  }



  .currentOne,
  .currentTwo {
    font-size: 0.7rem;
  }

  .botbox {
    width: 110px;
    height: 90px;
  }

  #botBoxOne {
    top: 55vh;
    left: 7vw;
  }

  #botBoxTwo {
    top: 55vh;
    left: 59vw;
  }

  .newGameBtn {
    left: 34vw;
  }

  .rollBtn {
    top: 75vh;
    left: 34vw;
  }

  .holdBtn {
    top: 80vh;
    left: 36vw;
  }
}


